
body {
  background-color: white;
  font-family: verdana;
  font-size: 20px;
}

h4 {
padding-top: 50px;
padding-left: 50px;
padding-right: 50px;
padding-bottom: 50px;
font-size : 30px;
}
h5 {
padding-top: 20px;
padding-bottom: 20px;
font-size : 30px;
color: #2D68C4;
}
.h1 {
  padding-top: 50px;
  padding-left: 50px;
  font-size: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  color: white;
}
.p {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.rectangle {
  height: 120px;
  width: 100vw;
  background-color: #2D68C4;
}

.navbar {
float: right;
padding-top: 30px; 
}

.nav-item{
list-style-type: None;
padding-top: 15px;
padding-bottom: 15px;
}

a:link {
text-decoration: None;
}

.div {
justify-content: right;
}

.pos-f-t{
text-align: right;
padding-right: 50px;
padding-bottom: 1px;
background-color: #91B4EB;
}

.img-fluid {
margin-top: 30%;
margin-right: 150px;
margin-left: 160px;
max-width : 50%;
float: center;
color: black
}

.EventSearch {
color: black;
background-color: #91B4EB;
border-color: #91B4EB;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 12px;
border-radius: 20%;
background-color: #91B4EB;
}

.ClubHost {
color: black;
background-color: #91B4EB;
border-color: #91B4EB;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 12px;
border-radius: 20%;
background-color: #91B4EB;
}

#calendar {
display: flex;
align-items: center;
justify-content: center;
padding-top: 30px;
padding-bottom: 30px;

}

#form {
padding-top: 20px;
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 20px;
}

.about {
color: black;
text-align: center;
padding-top: 100px;
padding-bottom: 30px;
padding-left: 300px;
padding-right: 300px;
}
.about2 {
color: white;
text-align: center;
padding-bottom: 30px;
padding-left: 300px;
padding-right: 300px;
}

.logo {
text-align: center;
padding-bottom: 30px;
padding-left: 300px;
padding-right: 300px;
}

.btn-group button {
background-color: #91B4EB; /* Green background */
border: 1px solid white; /* Green border */
color: white; /* White text */
padding: 10px 24px; /* Some padding */
cursor: pointer; /* Pointer/hand icon */
float: left; /* Float the buttons side by side */
margin: 10px;
border-radius: 50px;
}

.btn-group button:not(:last-child) {
border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
content: "";
clear: both;
display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
background-color: #8A93E0;
}

#footer {
height: 120px;
width: 100vw;
background-color: #2D68C4;
}

.column {
text-align: center;
float: left;
width: 25%;
padding: 15px;
}

/* Clear floats after image containers */
.row::after {
content: "";
clear: both;
display: table;
}

.row {

display: flex;
}

