body {
    background-color: #2782dc;
    font-family: verdana;
    font-size: 20px;
    padding-left: 50px;

  }
 h4 {
  padding-top: 30px;
  font-size : 30px;

 }
  h1 {
    color: white;
    text-align: center;
  }
  
.navbar {
  float: right;
  padding-top: 30px;
}
 .nav-item{
  list-style-type: None;
 }
 a:link {text-decoration: None;}

.div {
  justify-content: right;
}

.pos-f-t{
  text-align: right;
  padding-right: 50px;
}