body {
    background-color: #2782dc;
    font-family: verdana;
    font-size: 20px;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
 .nav-item{
  list-style-type: None;
  

 }
 a:link {text-decoration: None;}
